*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:active {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  cursor: default;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #5abcbf;
}

.header--scrolled {
  background: #5abcbf;
}

.header--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}

.header--logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.header--logo img {
  display: block;
  width: auto;
  max-height: 36px;
}

.logo--icon {
  margin-right: 10px;
}

.logo--text {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.header--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav--list a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.nav--list a:hover {
  color: rgb(245, 217, 125);
}

.nav--list:not(:last-child) {
  margin-right: 30px;
}

.nav--list-active {
  color: rgb(245, 217, 125);
}

.button {
  padding: 8px 25px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
}

.burger-menu {
  display: none;
  top: 0px;
  right: 0px;
  z-index: 100;
}

#menuToggle {
  display: block;
  position: relative;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 48px;
  height: 30px;
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #393939 !important;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  pointer-events: none;
  width: 440px;
  height: 200vh;
  margin: -100px 0 0 0;
  padding: 20px;
  padding-top: 130px;
  right: -100px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2c2c2c;
  padding-right: 90px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  pointer-events: none;
}

.nav-box--link {
  display: block;
  padding: 12px 10px;
}

.active {
  color: rgb(245, 217, 125) !important;
}

.backdrop {
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  pointer-events: none;
  position: relative;
}

.burger-menu-link li {
  margin-bottom: 50px;
}

.hero {
  min-height: 518px;
  padding-top: 150px;
  padding-bottom: 100px;
}

.hero--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 425px;
}

.hero--title {
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  line-height: 1.1;
  font-size: 48px;
  font-weight: 700;
  color: #111;
  padding-left: 30px;
  margin-bottom: 30px;
  position: relative;
}

.hero--title::before {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  display: block;
  pointer-events: none;
  height: 95%;
  width: 10px;
  background: #fed85f;
}

.hero--text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  padding-left: 30px;
}

.benefits {
  min-height: 566px;
  padding-bottom: 135px;
}

.benefits--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: -15px;
}

.benefits--block {
  padding: 15px;
}

.benefits--block-text {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 35%;
  flex: 1 0 35%;
  padding-left: 30px;
}

.benefits--block-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 21.6%;
  flex: 1 0 21.6%;
}

.benefits--title {
  margin-bottom: 20px;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.2;
  color: #111;
}

.benefits--text {
  max-width: 338px;
}

.text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.bbc {
  margin-top: -60px;
  padding: 20px 10px 30px;
  min-height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.bbc--icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.bbc--icon i {
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: #fff;
}

.bbc--title {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 1.2;
  word-wrap: break-word;
  color: #fff;
  margin-bottom: 20px;
}

.bbc--text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

.bbc1 {
  background-color: #5abcbf;
}

.bbc2 {
  background-color: #6bc75d;
}

.bbc3 {
  background-color: #b23c8a;
}

.recommendation {
  min-height: 581px;
}

.recommendation--body {
  position: relative;
  top: -100px;
}

.recomendation--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 60px;
  background: #fff;
  max-width: 525px;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.recommendation--title {
  margin-bottom: 30px;
}

.goals {
  padding: 60px 0;
}

.goals--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.goals--title {
  margin-bottom: 20px;
  max-width: 682px;
}

.goals--text {
  margin-bottom: 60px;
  max-width: 682px;
}

.goals--blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px;
}

.goals--block {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  padding: 65px 15px 0;
}

.gb {
  min-height: 370px;
  padding: 0 30px 30px;
  padding-top: 50px;
  position: relative;
}

.gb1 {
  background-color: #ebf8f9;
}

.gb1 .gb--icon {
  -webkit-box-shadow: 0 0 40px 0 rgba(235, 248, 249, 0.6);
  box-shadow: 0 0 40px 0 rgba(235, 248, 249, 0.6);
}

.gb1 .gb--icon i,
.gb1 .gb--title {
  color: #5abcbf;
}

.gb1 .gb--line {
  background: #5abcbf;
}

.gb2 {
  background-color: #eef9ec;
}

.gb2 .gb--icon {
  -webkit-box-shadow: 0 0 40px 0 rgba(238, 249, 236, 0.6);
  box-shadow: 0 0 40px 0 rgba(238, 249, 236, 0.6);
}

.gb2 .gb--icon i,
.gb2 .gb--title {
  color: #6bc75d;
}

.gb2 .gb--line {
  background: #6bc75d;
}

.gb3 {
  background-color: #fbecf6;
}

.gb3 .gb--icon {
  -webkit-box-shadow: 0 0 40px 0 rgba(251, 236, 246, 0.6);
  box-shadow: 0 0 40px 0 rgba(251, 236, 246, 0.6);
}

.gb3 .gb--icon i,
.gb3 .gb--title {
  color: #b23c8a;
}

.gb3 .gb--line {
  background: #b23c8a;
}

.gb--title {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 30px;
}

.gb--icon {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.gb--icon i {
  font-size: 60px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.gb--line {
  width: 21.6%;
  height: 6px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.gb--text {
  color: #808080;
}

.recipes {
  padding: 60px 0;
  background-color: #ebf8f9;
}

.recipes--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recipes--title {
  max-width: 680px;
  margin-bottom: 20px;
}

.recipes--text {
  max-width: 680px;
  margin-bottom: 50px;
}

.recipes--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px;
}

.recipes--card {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  padding: 15px;
}

.rc--img {
  max-width: 360;
  height: 337px;
}

.rc--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.rc--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  background: #fff;
}

.rc--title {
  font-size: 24px;
  margin-bottom: 30px;
}

.footer {
  color: #ffffff;
  background-color: #5abcbf;
  padding: 60px 0 0;
}

.footer--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: -12px;
  margin-bottom: 40px;
}

.ft--items {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%;
  padding: 12px;
}

.ft--left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fli--logo {
  margin-bottom: 20px;
  cursor: pointer;
}

.fli--logo-text {
  font-size: 28px;
  color: #fff;
}

.fli--address {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  margin-bottom: 30px;
}

.fli--phone-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

.fli--text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
}

.fli--mail {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  margin-bottom: 20px;
}

.fli--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fli--social-item {
  display: block;
  line-height: 1;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fli--social-item:hover {
  background: #fff;
  text-decoration: none;
}

.fli--social-item:hover i {
  color: #5abcbf;
}

.fli--social-item:not(:last-child) {
  margin-right: 8px;
}

.fli--social-item i {
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fci--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fci--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fci--link span {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.fci--link span:hover {
  color: rgb(245, 217, 125);
}

.fci--link:not(:last-child) {
  margin-bottom: 20px;
}

.fci--link i {
  font-size: 12px;
  color: rgb(245, 217, 125);
  margin-right: 8px;
}

.fri--title {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
}

.fri--text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.footer--bottom {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

@media only screen and (max-width: 950px) {
  .benefits--body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .benefits--block-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  .benefits--block-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    margin-bottom: 60px;
  }

  .benefits--block-card:last-child {
    margin-bottom: 0;
  }

  .recipes--card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  .goals--block {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

@media only screen and (max-width: 900px) {
  .header--nav {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

@media only screen and (max-width: 850px) {
  .footer--top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .ft--items {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    margin-bottom: 60px;
  }

  .ft--items:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  #menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

@media only screen and (max-width: 650px) {
  .benefits {
    padding: 60px 0 160px;
  }

  .benefits--block-text {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding-left: 15px;
    margin-bottom: 60px;
  }

  .benefits--text {
    max-width: 100%;
  }

  .benefits--block-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  .goals--block {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    margin-bottom: 40px;
  }

  .goals--block:last-child {
    margin-bottom: 0;
  }

  .gb {
    min-height: 300px;
  }

  .recipes--card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  .rc--content {
    min-height: 200px;
  }
}

@media only screen and (max-width: 580px) {
  .hero--title {
    font-size: 36px;
  }

  .title {
    font-size: 30px;
  }

  .ft--items {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}

@media only screen and (max-width: 450px) {
  .recomendation--block {
    padding: 30px;
  }
}

@media only screen and (max-width: 370px) {
  #menu {
    width: 390px;
  }
}
